<!DOCTYPE HTML>
<html>
    <head>
        <title>Camilo Muñoz</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <style type="text/css">
        body {
             font-family: 'Open Sans', sans-serif;
        }
        </style>
        {% include googleanalytics.html %}
        <link rel="stylesheet" type="text/css" href="/css/site.css" >
    </head>
    <body>

            <div id="page-wrapper">

                    <header id="header">
                        <h1><a href="/">Camilo Muñoz</a></h1>
                        <nav id="nav">
                            <ul>
                                <li class="special">
                                    <a href="#" class="menuToggle"><span>Menu</span></a>
                                    <div id="menu">
                                        <ul>
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/projects/">Projects</a></li>
                                            <li><a href="/research/">Research</a></li>
                                            <li><a href="https://drive.google.com/open?id=0B5-d8KjN9CEvNVp1dGZ2NEtubG8">Resume</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </header>
                    
                    {{ content }}

     <!-- Footer -->
           <footer id="footer">
               <ul class="icons">
                    <ul class="copyright">
                           <li>Camilo Andres Muñoz</li></br>
                        </ul>
                    <li><a href="mailto:camunozb@uwaterloo.ca" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                    <li><a href="https://drive.google.com/open?id=0B5-d8KjN9CEvNVp1dGZ2NEtubG8" class="icon fa-file"><span class="label">Resume</span></a></li>
                   <li><a href="https://github.com/camandmum22" class="icon fa-github"><span class="label">Github</span></a></li>
                   <li><a href="https://ca.linkedin.com/in/camandmum22/?locale=en_US" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                   <li><a href="https://www.facebook.com/camandmum22" class="icon fa-facebook"><span class="label">Facebook</span></a></li>                   
                   <li><a href="https://www.quora.com/profile/Camilo-Muñoz-2" class="fa fa-quora"><span class="label">Q</span></a></li>
               </ul>
               <!-- 
               <ul class="copyright">
                   <li>&copy; Camilo Andres Muñoz</li>
               </ul>
               -->
               <ul class="copyright">
                   <li>camunozb at uwaterloo dot ca</li>
               </ul>
           </footer>

            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/jquery.scrollex.min.js"></script>
            <script src="/assets/js/jquery.scrolly.min.js"></script>
            <script src="/assets/js/skel.min.js"></script>
            <script src="/assets/js/init.js"></script>

    </body>
</html>
