<!DOCTYPE HTML>
<html>
    <head>
        <title>Camilo Muñoz</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/style.css" />
         {% include googleanalytics.html %}
    </head>
    <body class="landing">

            <div id="page-wrapper">

                    <header id="header" class="alt">
                        <h1><a href="index.html">Camilo Muñoz</a></h1>
                        <nav id="nav">
                            <ul>
                                <li class="special">
                                    <a href="#" class="menuToggle"><span>Menu</span></a>
                                    <div id="menu">
                                        <ul>
                                            <li><a href="">Home</a></li>
                                            <li><a href="projects">Projects</a></li>
                                            <li><a href="research">Research</a></li>
                                            <li><a href="https://drive.google.com/open?id=0B5-d8KjN9CEvNVp1dGZ2NEtubG8">Resume</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </header>

                <!-- Banner -->
                    <section id="banner">
                        <div class="inner">
                            <h2>Camilo Andres Muñoz</h2><br />
                            <h4>camunozb at uwaterloo dot ca</h4>
                            <p>Welcome!<br />
                            Let's start exploring</p>
                        </div>
                        <a href="#one" class="more scrolly">Know More</a>
                    </section>

                <!-- One -->
                    <section id="personal" class="wrapper style1">
                        <div class="inner">
                            <header class="major">
                                <img src="/images/index/photo.png" align="middle" width="300" height="300" class="img-responsive">
                                <p/><h2 align="center">Hello There! This is Camilo</h2><p/>
                                <p>I am currently a Graduate Student at the <a target="blank" href="https://uwaterloo.ca/">University of Waterloo</a>, pursuing a Master's in Computer Science. I'm part of the <a target="blank" href="http://dsg.uwaterloo.ca/research/">Data Systems Group</a> (DSG) and my advisor is <a target="blank" href="https://cs.uwaterloo.ca/~fwtompa/">Frank Tompa</a>. </p>
                                <p>My research interests include health informatics, machine learning, data analytics and healthcare applications. I'm especially interested in using data science and technology to tackle tough problems in the world in a variety of real-life contexts. Additionally, I'm passionate about full-stack development, creating mobile apps, solving problems with data analytics, and I am constantly improving my skillset.</p>
                                <p>Before coming to Waterloo, I earned my B.S. in Software Systems Engineering at <a target="blank" href="https://www.icesi.edu.co/">Icesi University</a> (Colombia), and was a member of the <a target="blank" href="https://www.icesi.edu.co/i2t/teleco/">i2t Research Group</a> and the <a target="blank" href="http://www.cideim.org.co/">International Center for Medical Research and Training</a>.
                                </p>
                            </header>
                        </div>
                    </section>

                <!-- Three -->
                    <section id="skillset" class="wrapper style3 special">
                        <div class="inner">
                            <header class="major">
                                <h2>Skillset Overview</h2>
                                <p>Click on the Menu at the top-right hand corner to explore some of the projects I've worked on</p>
                            </header>
                            <ul class="features">
                                <li class="icon fa-mobile">
                                    <h3>Mobile Development</h3>
                                    <p>I love creating mobile apps! I often write in Java for Android and I'm currently learning how to code in Swift for iOS.</p>
                                </li>
                                <li class="icon fa-laptop">
                                    <h3>Web Development</h3>
                                    <p>I also make web apps for fun! I have experience in Django, Play Framework, jQuery, JavaScript, and NodeJS.</p>
                                </li>
                                <li class="icon fa-cog">
                                    <h3>Hardware & Embedded Systems</h3>
                                    <p>I also have experimented with a fair number of cool gadgets!. I've worked with Arduino, Raspberry Pi, Lego NXT, Python, VHDL and even <a href="https://en.wikipedia.org/wiki/Assembly_language">x86 Assembly</a>.</p>
                                </li>
                                <li class="icon fa-area-chart">
                                    <h3>Data Science</h3>
                                    <p>My newly adquired interest!. I've experimented with some cool techniques including <a href="https://en.wikipedia.org/wiki/Cluster_analysis">Clustering</a>, <a href="https://en.wikipedia.org/wiki/Dimensionality_reduction">Dimensionality Reduction</a> and <a href="https://en.wikipedia.org/wiki/Time_series">Time Series Analysis</a>.</p>
                                </li>
                                <li class="icon fa-search-plus">
                                    <h3>Research</h3>
                                    <p>I've been part of awsome projects, many of them aiming to improve the life conditions of many people, and also requring me to learn new concepts, ideas and tools at a fast pace.</p>
                                </li>
                                <li class="icon fa-graduation-cap">
                                    <h3>Teaching</h3>
                                    <p>I've been a TA for a fair number of courses, including: Algorithms and Programming, Algorithms and Data Structures, Software Architecture, Logic and Computation.<br />
                                    </p>
                                    <p>I also taught as Head TA for the Robotics Summer Camp at Icesi University for three years, teaching K-12 students how to program robots.</p>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <!-- Three -->
                    <section id="experience" class="wrapper style5 special">
                        <div class="inner">
                            <header class="major">
                                <h2>Industry</h2>
                            </header>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin: auto; width: 50%; padding: 0px;text-align: center;">
                                        <div class="image"><img src="/images/index/open_blue.png" alt="" height="100%" width="100%"/></div>
                                      <h4>Software Development Intern +</h4>
                                      <h4>Junior Software Developer</h4>
                                      <p>Open Systems, Research & Development</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin: auto; width: 50%; padding: 0px;text-align: center;">
                                      <div class="image"><img src="/images/index/celsia.png" alt="" height="100%" width="100%"/></div>
                                      <h6>.</h6>
                                      <h4>Machine Learning Engineer</h4>
                                      <p>Celsia, Research & Innovation</p>
                                    </div>
                                </div>
                        </div>
                    </section>

                    <!-- Two -->
                    <section id="two" class="wrapper alt style2">
                        <section class="spotlight">
                            <div class="image"><img src="images/" alt="" /></div>
                            <div class="content">
                                <h2>I Love Discovering<br />
                                I Love Learning</h2>
                                <p>I'm always excited about new technologies, I like spending part of my spare time experimenting with new frameworks, creating apps, and hacking some hardware. No matter the challenge, it's always exciting trying to keep up with the pace. <br />
                                If I encounter something I don't know, I'll make my mission to learn how to use it. <br />
                                I'm not an expert at everything, on the contrary I often make mistakes, but with practice and patience I know I can get better! One step at a time:) <br /><br /></p>
                            </div>
                        </section>
                        <section class="spotlight">
                            <div class="image"><img src="images/" alt="" /></div><div class="content">
                                <h2>My Hobbies<br />
                                aka Unhealthy Obsessions</h2>
                                <p> Two of the things I can't get enough of are food and watching TV Series & Movies. I'm especially enticed by pastries and breakfast meals (for me, breakfast is the most important meal, even more than lunch or dinner). Among the best series I've ever watched are: Doctor Who, Sherlock, Game of Thrones, Modern Family, How I Met Your Mother, and Suits.<br /><br /><br /></p>
                            </div>
                        </section>
                    </section>

                    <section id="cta" class="wrapper style4">
                        <div class="inner">
                            <header>
                                <h2>Thanks for passing by</h2>
                                <p><br /><br /><br /></p>
                            </header>
                        </div>
                    </section>

                <!-- Footer -->
                    <footer id="footer">
                        <ul class="copyright">
                           <li>Camilo Andres Muñoz</li></br>
                        </ul>
                        <ul class="icons">
                            <li><a href="mailto:camunozb@uwaterloo.ca" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                            <li><a href="https://drive.google.com/open?id=0B5-d8KjN9CEvNVp1dGZ2NEtubG8" class="icon fa-file"><span class="label">Resume</span></a></li>
                           <li><a href="https://github.com/camandmum22" class="icon fa-github"><span class="label">Github</span></a></li>
                           <li><a href="https://ca.linkedin.com/in/camandmum22/?locale=en_US" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                           <li><a href="https://www.facebook.com/camandmum22" class="icon fa-facebook"><span class="label">Facebook</span></a></li>                   
                           <li><a href="https://www.quora.com/profile/Camilo-Muñoz-2" class="fa fa-quora"><span class="label">Q</span></a></li>
                        </ul>
                        <!-- 
                       <ul class="copyright">
                           <li>&copy; Camilo Andres Muñoz</li>
                       </ul>
                       -->
                       <ul class="copyright">
                           <li>camunozb at uwaterloo dot ca</li>
                       </ul>
                    </footer>

            </div>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/init.js"></script>

    </body>
</html>